.counter {
  position: absolute;
  top: 21px;
  margin-left: 22px;
  background-color: rgb(89, 255, 0);
  color: black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
